
@import './animation.scss';
@import  './base.scss';
@import './button.scss';
@import './composion.scss';
@import './extend.scss';
@import './function.scss';
@import './grid.scss';
@import './home.scss';
@import './mixin.scss';
@import './typography.scss';
@import './utilities.scss';
@import './variable.scss';
@import './article.scss';
@import './footer.scss';
@import './navigation.scss';
@import './section.scss';
//---------------- HEADER-------------------
.navBar__header{
    background-color: $primary-almond-500;
    height: 100px;
    width: 1365px;
    position: fixed;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 99;
    &--container{

        margin: 5px 5px 0px 5px;
     justify-content: space-between;
    }
    &--list{
     list-style: none;
    }
    &--item{
        font-size: 1.2rem;
        padding: 7px 15px;
        color:$primary-almond-50;
    }
    &--logo{
        width: 150px;
        height: 60px;
    }
    &--bottom-header{
        position: relative;
    align-items: center;
    }
    &--logo img{
        width: 100%;
        height: 100%;
    }
    &--icon-list{
        font-size: $size-icon;
        padding: 20px 25px;
    }
    &--icon-list:hover  &-l-t{
        
       display:inline-block; 
    }

    &-l-t{
        display:none;
        position: absolute;
        top: 5rem;
        /* bottom: 10px; */
        left: 15rem;
        background-color:$secondary-quincy-50;
        height: 433px;
       width: 250px;
       animation: openList ease-in 0.5s;
       @extend %border-radius-5;
       box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    &-l-t a{
        text-decoration: none;
    }
    &-l-l{
        list-style: none;
        padding: 10px;
        align-items: center;
        position:relative;
    }
    &-l-l p{
        color:black;
       
    }
    &-l-l svg{
        float: left;
        padding-right: 5px;
    }
    &-l-l .icon-arrow{
        float: right;
    }
    &-l-l:hover  &-l-u-c{
        display: inline-block;
    }
    &-l-u-c {
        position:absolute;
        background-color: #fff;
        top: 0;
        left: 250px;
        height: auto;
        width: 210px;  
         display:none;
         transition: 1s;
         animation: openList ease 3s;
         @extend %border-radius-5;
         box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    &-l-l-c{
  
     padding:15px;
     font-size: 16px;
     color:#000;
     list-style: none;
    }
   
}
.navBar__icon{
    &--c-i{
     margin-left: 25px;
    }
    &--item{
        list-style: none;
        padding:15px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    
    } 
    &--item:hover &--bag{
        display: inline-block;
    }
    &--item a{
        text-decoration: none;
    }  
   
    &--bag{
            display:none;
            position: absolute;
            top: 50px;
            left: 0;
            height: 100px;
            width: 100px;
            @extend %border-radius-5;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            background-color: $primary-white;
            
        }&--bag::before {
            content: "";
            position: absolute;
            bottom: 0;
            top: -1rem;
            left: 17px;
            width: 0;
            height: 0;
            border-top: 10px solid #fff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            transform: rotate(180deg);
        
          } &--list-bag{
                list-style: none;
                color:$primary-black;
                font-size: 1.6rem;
                padding: 15px 20px;
            }
       
              
          
             
   
}


