<<<<<<< HEAD
//SCSS CÚ PHÁP//

// @mixin theme($theme: DarkGray) {
//     background: $theme;
//     box-shadow: 0 0 1px rgba($theme, .25);
//     color: #fff;
//   }
  
//   .info {
//     @include theme;
//   }
//   .alert {
//     @include theme($theme: DarkRed);
//   }
//   .success {
//     @include theme($theme: DarkGreen);
//   }
@mixin grid($NumberItems,$pixel,$gap){
    display:grid;
    grid-template-columns: repeat($NumberItems,$pixel);
    grid-column-gap: $gap;
}
@mixin border-radius($precent){
    border-radius: $precent;
}
@mixin d-flex($j-content,$a-item){
    display: flex;
    justify-content: $j-content;
    align-items: $a-item;
}
@mixin images($height,$width){
    height: $height;
    width: $width;
}
=======
//SCSS CÚ PHÁP//

// @mixin theme($theme: DarkGray) {
//     background: $theme;
//     box-shadow: 0 0 1px rgba($theme, .25);
//     color: #fff;
//   }
  
//   .info {
//     @include theme;
//   }
//   .alert {
//     @include theme($theme: DarkRed);
//   }
//   .success {
//     @include theme($theme: DarkGreen);
//   }
@import url("/scss/style.scss");
>>>>>>> c870b3d73007ebf439c26a0f478590be69a54145
