
// almond
$primary-almond-50:#fdfaf7;
$primary-almond-100:#f9f2ec;
$primary-almond-200:#f3e5d8;
$primary-almond-300:#e9d0b9;
$primary-almond-400:#d3a273;
$primary-almond-500:#cea37b;
$primary-almond-600:#805328;
$primary-almond-700:#5d3c1d;
$primary-almond-800:#362311;
$primary-almond-900:#1b1209;
// quincy
$secondary-quincy-50: #fbfaf8;
$secondary-quincy-100: #f6f1ee;
$secondary-quincy-200: #ede4de;
$secondary-quincy-300: #dfcec3;
$secondary-quincy-400: #c09e87;
$secondary-quincy-500: #9a6e51;
$secondary-quincy-600: #6e4f3a;
$secondary-quincy-700: #50392a;
$secondary-quincy-800: #2f2119;
$secondary-quincy-900: #17110c;

// tango tertiary
$tertiary-tango-50: #fef9f5;
$tertiary-tango-100: #fef1e7;
$tertiary-tango-200: #fce2cf;
$tertiary-tango-300: #facca8;
$tertiary-tango-400: #f59851;
$tertiary-tango-500: #de670d;
$tertiary-tango-600: #9f4a09;
$tertiary-tango-700: #743607;
$tertiary-tango-800: #431f04;
$tertiary-tango-900: #221002;

$primary-dark:#ccc;
$size-icon:2rem;
$primary-white:#fff;
$primary-black:#000;