/* Error: expected "{".
 *    ,
 * 19 |   @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Oxygen&display=swap');
 *    |                                                                                                            ^
 *    '
 *   scss\base.scss 19:108  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 19 \2502    @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Oxygen&display=swap');\a    \2502                                                                                                             ^\a    \2575 \a   scss\\base.scss 19:108  root stylesheet";
}
